// Variáveis

$cor-padrao: lighten(#c69, 10%);
$cor-auxiliar: darken(#069, 20);
$raio: 0.3em;
$raio-grande: 20px;

$ponto-de-quebra: 945px;
$mq-mobile: "(max-width: 950px)";

$tamanho-da-fonte-padrao: 16px;